
h1 {
  background: yellow;
  color: red;
  width: 500px;
  height: 200px;
  font-family: Helvetica, Arial, sans-serif;
  
  margin: 50px;
  text-align: center;

  border: 10px solid black;
}

li {
  font-style: italic;
}

